[Desktop Entry]
Name=ocrmypdfgui
GenericName=Document Encryption
Comment=GUI for OCRmyPDF
Exec=ocrmypdfgui
Icon=${SNAP}/ocrmypdfgui.svg
Terminal=false
Type=Application
Categories=Utility;
StartupNotify=true
